
        
        .logo{
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 75px;
            width: auto;
            max-width: 250px;
            object-fit: contain;
        }
            

        
            
        
        h1 {
            text-align: center;
            color: #573737;
            position: relative;
            top: 130px;
            font-size: 60px;
            font-family: "Montserrat";
        }
        body{
            font-family: 'Montserrat', sans-serif;
            overflow-x: hidden;
            background-image: url(images/background.png);
            object-fit: cover;
            
        }

        
        nav ul {
            display: flex;
            list-style: none;
            gap: 50px;
        }

        nav a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
            font-family: 'Montserrat', sans-serif;
            
        }

        nav a:hover {
            color: #8B0000;
        }
        

        header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: white;
            padding: 15px 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            
            
            
            
        }

        
        
        .img1{
            position: relative;
            top: 120px;
            left: 800px;
            object-fit: cover;
        }

        .img2{
            position: relative;
            top: 115px;
            left: 800px;
            object-fit: cover;
        }
    
        .img3{
            position: relative;
            bottom: 130px;
            object-fit: cover;
            right: 50px;
        }

        .img4{
            position: relative;
            bottom: 640px;
            object-fit: cover;
            right: 50px ;

        }

        button{
            background-color: #F6ECD0;
            border-radius: 10px;
            height: 30px;
            width: 120px;
            border: #F6ECD0;
            position: relative;
            left: 1015px;
            bottom: 480px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            transition: 0.3s ease;

        }

        button:hover {
        background-color: #e3d4b3;
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,0.25);
        cursor: pointer;
        transition: 0.3s ease;
        }