
        
        .logo{
            display: flex;
            align-items: center;
        }

        .logo img {
            height: 75px;
            width: auto;
            max-width: 250px;
            object-fit: contain;
        }
            

        
            
        
        h1 {
            text-align: center;
            color: #573737;
            position: relative;
            top: 130px;
            font-size: 60px;
            font-family: "Montserrat";
        }
        body{
            font-family: 'Montserrat', sans-serif;
            overflow-x: hidden;
            background: #FFFFFF;
            background: linear-gradient(90deg,rgba(255, 255, 255, 1) 50%, rgba(234, 219, 179, 1) 100%);
            
        }

        
        nav ul {
            display: flex;
            list-style: none;
            gap: 50px;
        }

        nav a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
            font-weight: 500;
            transition: color 0.3s;
            font-family: 'Montserrat', sans-serif;
            
        }

        nav a:hover {
            color: #8B0000;
        }
        

        header{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: white;
            padding: 15px 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            
            
            
            
        }

        
        
        .img1{
            position: relative;
            top: 120px;
            left: 900px;
            object-fit: cover;
            
        }

        #title{
            position: absolute;
            top: 150px;        /* adjust position */
            left: 65px;
            z-index: 10;       /* makes it appear in front */
            font-size: 45px;
            color: black;      /* or any color that stands out */
            
        }
        main {
            position: relative;   /* required so #bold positions inside main */
        }
        .img1 img {
            position: relative;
            z-index: 1;           /* image stays behind */
        }

        #paragraph{
            position: absolute;
            top: 350px;        /* adjust position */
            left: 65px;
            z-index: 10;       /* makes it appear in front */
            font-size: 20px;
            color: #524D3E; 
        }



        

        

        